body {
  padding: 0;
  margin: 0;
}

.main-wrapper {
  background: blue;
  height: 100%;

  display: -webkit-flex;
  -webkit-flex-direction: column;
}

header {
  background: red;
  -webkit-flex: 1 1 auto;
}

.main-wrapper > .content {
  background: yellow;
  -webkit-flex: 20 20 auto;
}

footer {
  background: orange;
  -webkit-flex: 1 1 auto;

  display: -webkit-flex;

  input.amount {
    -webkit-flex: 1 1 auto;
  }

  input.category {
    -webkit-flex: 1 1 auto;
  }

  button.btn {
    -webkit-flex: 1 1 auto;
  }
}