@font-face {
  font-family: 'icomoon';
  src: url("font/icomoon.eot?tddahw");
  src: url("font/icomoon.eot?#iefixtddahw") format("embedded-opentype"), url("font/icomoon.woff") format("woff"), url("font/icomoon.ttf") format("truetype"), url("font/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/css\/icon-font\.scss}line{font-family:\0000315}}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/css\/icon-font\.scss}line{font-family:\0000329}}
.icon-menu:before {
  content: "\6d"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/modal\/s-modal\.scss}line{font-family:\000031}}
dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/modal\/s-modal\.scss}line{font-family:\000036}}
  dialog p {
    font-size: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/modal\/s-modal\.scss}line{font-family:\0000310}}
  dialog .wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.5em;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/modal\/s-modal\.scss}line{font-family:\0000316}}
  dialog button {
    border: none;
    height: 2em;
    width: 5em;
    font-size: 1.4em;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/header\/s-header\.scss}line{font-family:\000031}}
header {
  background: #404040;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 101;
  padding-top: 12%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/header\/s-header\.scss}line{font-family:\0000310}}
  header .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/header\/s-header\.scss}line{font-family:\0000319}}
    header .content .title {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/header\/s-header\.scss}line{font-family:\0000331}}
    header .content .icon-menu {
      float: left;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      font-size: 2em;
      line-height: 1.5em;
      -webkit-transition: -webkit-transform 300ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/header\/s-header\.scss}line{font-family:\0000348}}
      header .content .icon-menu.active {
        -webkit-transform: translateX(-50%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/current-week-chart\/s-current-week-chart\.scss}line{font-family:\000031}}
section.current-week-chart {
  background: white;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  border-top: 3px solid white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/current-week-chart\/s-current-week-chart\.scss}line{font-family:\0000315}}
  section.current-week-chart .bar-days {
    background: lightgreen;
    padding-top: 8%;
    width: 90%;
    border-bottom: 3px solid white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/current-week-chart\/s-current-week-chart\.scss}line{font-family:\0000322}}
  section.current-week-chart .bar-money {
    background: lightgreen;
    padding-top: 8%;
    width: 30%;
    border-bottom: 3px solid white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\000032}}
section.summary {
  font-size: 1.6em;
  line-height: 2.0em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000312}}
  section.summary .list {
    height: 100%;
    overflow-y: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000318}}
    section.summary .list .pusher.top {
      padding-top: 30.8%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000321}}
    section.summary .list .pusher.bottom {
      padding-top: 16%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000327}}
  section.summary .row {
    border-bottom: 1px solid graytext;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000332}}
  section.summary .category {
    width: 50%;
    float: left;
    padding-left: 1.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000338}}
  section.summary .amount {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000345}}
  section.summary .tap-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000353}}
  section.summary .day {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.4em;
    line-height: 1em;
    vertical-align: baseline;
    background: graytext;
    color: white;
    padding: 0.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000365}}
  section.summary .total {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid graytext; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000374}}
    section.summary .total .pusher {
      padding-top: 16%;
      float: left;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/expense-list\/s-expense-list\.scss}line{font-family:\0000380}}
    section.summary .total .category {
      padding-left: 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/footer\/s-footer\.scss}line{font-family:\000031}}
footer {
  border-top: 1px solid graytext;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  padding-top: 16%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/footer\/s-footer\.scss}line{font-family:\0000312}}
  footer .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/footer\/s-footer\.scss}line{font-family:\0000320}}
  footer input[type=text] {
    width: 31%;
    height: 80%;
    float: left;
    margin: 1.4% 0.5% 0 1.4%;
    font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/footer\/s-footer\.scss}line{font-family:\0000329}}
  footer button.add {
    width: 31%;
    height: 80%;
    float: right;
    margin: 1.4% 1.4% 0 0.5%;
    font-size: 1.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/nav\/s-nav\.scss}line{font-family:\000031}}
section.nav {
  display: none;
  -webkit-transition: opacity 300ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/nav\/s-nav\.scss}line{font-family:\000032}}
  section.nav.bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/nav\/s-nav\.scss}line{font-family:\0000313}}
    section.nav.bg.on {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/nav\/s-nav\.scss}line{font-family:\0000318}}
  section.nav.enabled {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/nav\/s-nav\.scss}line{font-family:\0000324}}
  section.nav nav {
    background: white;
    position: absolute;
    width: 70%;
    height: 100%;
    -webkit-transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 300ms;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 12%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/nav\/s-nav\.scss}line{font-family:\0000337}}
    section.nav nav.on {
      -webkit-transform: translate(0, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/nav\/s-nav\.scss}line{font-family:\0000341}}
    section.nav nav a {
      display: block;
      width: 100%;
      border: none;
      background: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 10%;
      line-height: 0;
      padding-bottom: 10%;
      color: #404040;
      font-size: 1.2em;
      text-decoration: none;
      font-weight: normal;
      text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/page-manager\/s-page-manager\.scss}line{font-family:\000031}}
section.page-manager {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/page-manager\/s-page-manager\.scss}line{font-family:\000038}}
  section.page-manager .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    widht: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/page-manager\/s-page-manager\.scss}line{font-family:\0000319}}
    section.page-manager .page.active {
      opacity: 1;
      z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/page-manager\/s-page-manager\.scss}line{font-family:\0000324}}
    section.page-manager .page.incoming {
      -webkit-transform: translate(100%, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/page-manager\/s-page-manager\.scss}line{font-family:\0000327}}
      section.page-manager .page.incoming.animation {
        -webkit-transform: translate(0%, 0);
        -webkit-transition: -webkit-transform 1000ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/page-manager\/s-page-manager\.scss}line{font-family:\0000334}}
    section.page-manager .page.outgoing.animation {
      opacity: 0;
      -webkit-transition: opacity 300ms; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/horizontal-overview-chart\/s-horizontal-overview-chart\.scss}line{font-family:\000031}}
.horizontal-overview-chart {
  padding-top: 50%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/horizontal-overview-chart\/s-horizontal-overview-chart\.scss}line{font-family:\000037}}
  .horizontal-overview-chart .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/horizontal-overview-chart\/s-horizontal-overview-chart\.scss}line{font-family:\0000321}}
  .horizontal-overview-chart .wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    width: 10%;
    padding-top: 0%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/horizontal-overview-chart\/s-horizontal-overview-chart\.scss}line{font-family:\0000330}}
  .horizontal-overview-chart .space {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-end; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/horizontal-overview-chart\/s-horizontal-overview-chart\.scss}line{font-family:\0000338}}
  .horizontal-overview-chart .bar {
    background: greenyellow;
    border-bottom: 1px solid green; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/horizontal-overview-chart\/s-horizontal-overview-chart\.scss}line{font-family:\0000344}}
.horizontal-bar-chart-overview {
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000314}}
.setting-form {
  padding: 0 3% 0 3%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000317}}
  .setting-form .button-list {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.5em;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000323}}
  .setting-form button {
    border: none;
    height: 2em;
    width: 5em;
    font-size: 1.4em;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000336}}
  .setting-form .row {
    position: relative;
    padding-top: 15%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\000035}}
    .setting-form .row .content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000339}}
    .setting-form .row .content {
      display: flex;
      justify-content: space-between;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000345}}
    .setting-form .row .title {
      color: #404040; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000349}}
    .setting-form .row label {
      font-size: 1.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/js\/setting-form\/s-setting-form\.scss}line{font-family:\0000353}}
    .setting-form .row input {
      width: 50%;
      height: 70%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/css\/style\.scss}line{font-family:\0000312}}
.page {
  padding-top: 12%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/krisztianvarga\/Dropbox\/programing\/home\/webroot\/projects\/expense-manager\/css\/style\.scss}line{font-family:\0000315}}
  .page.history {
    overflow-y: auto; }

/*@ sourceMappingURL=style.css.map */