dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.scroller {
  transition: -webkit-transform 300ms;
}

header {
  background: #404040;

  position: absolute;
  left: 0;
  right: 0;
  z-index: 101;

  padding-top: 12%;
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.2em;
  }

  //border-bottom: 1px solid gray;
}

section.current-week-chart {
  background: white;
  border-top: 3px solid white;

  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  // Pusher for header
  //padding-top: 12%;

  border-top: 3px solid white;

  .bar-days {
    background: lightgreen;
    padding-top: 8%;
    width: 90%;
    border-bottom: 3px solid white;
  }

  .bar-money {
    background: lightgreen;
    padding-top: 8%;
    width: 30%;
    border-bottom: 3px solid white;
  }

  border-bottom: 1px solid rgba(0,0,0,.1);
}

section.summary {
  font-size: 1.6em;
  line-height: 2.0em;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .list {
    height: 100%;
    overflow-y: auto;

    .pusher {
      //background: red;
      &.top {
        padding-top: 30%;
      }
      &.bottom {
        padding-top: 16%;
      }
    }
  }

  .row {
    border-bottom: 1px solid graytext;
    position: relative;
  }

  .category {
    width: 50%;
    float: left;
    padding-left: 0.5em;
  }

  .amount {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 0.5em;
  }

  .tap-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .total {
    background: white;

    position: absolute;
    width: 100%;
    bottom: 0;

    border-top: 1px solid graytext;

    .pusher {
      padding-top: 16%;
      float: left;
      width: 100%;
    }
  }
}

footer {
  border-top: 1px solid graytext;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  padding-top: 16%;

  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  input[type=text] {
    width: 31%;
    height: 80%;
    float: left;
    margin: 1.4% 0.5% 0 1.4%;

    font-size: 1.2em;
  }

  button.add {
    width: 31%;
    height: 80%;
    float: right;
    margin: 1.4% 1.4% 0 0.5%;

    font-size: 1.2em;
  }
}

section.nav {
  &.bg{
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: 0;

    opacity: 0;
    &.on {
      opacity: 1;
    }
  }

  &.enabled {
    display: block;
  }
  display: none;
  -webkit-transition: opacity 300ms;

  nav {
    background: white;
    position: absolute;
    width: 70%;
    height: 100%;
    -webkit-transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 300ms;

    padding-left: 1%;
    padding-right: 1%;

    padding-top: 12%;

    &.on {
      -webkit-transform: translate(0, 0);
    }

    button {
      display: block;
      width: 100%;
      border: none;
      background: white;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding-top: 10%;
      line-height: 0;
      padding-bottom: 10%;
      color: #404040;
      font-size: 1.2em;
    }
  }
}

section.page-manager {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    widht: 100%;
    height: 100%;

    //display: none;
    //&.active {
    //  display: block;
    //}

    opacity: 0;
    &.active {
      opacity: 1;
    }

    &.incoming {
      -webkit-transform: translate(100%, 0);

      &.animation {
        -webkit-transform: translate(0%, 0);
        -webkit-transition: -webkit-transform 1000ms;
      }
    }

    &.outgoing {
      &.animation {
        //-webkit-transform: translate(100%, 0);
        opacity: 0;
        -webkit-transition: opacity 300ms;
      }
    }

    //-webkit-transition: -webkit-transform 300ms;
  }
}

.page {
  padding-top: 12%;
}

.horizontal-overview-chart {
  padding-top: 50%;
  position: relative;

  border-bottom: 1px solid rgba(0,0,0,0.2);

  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  text-align: center;

  .wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;

    width: 10%;
    padding-top: 0%;
  }

  .space {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }

  .bar {
    background: greenyellow;
    border-bottom: 1px solid green;
  }
}

.horizontal-bar-chart-overview {
  width: 100%;
  height: 100%;
}

.page.history {
  overflow-y: auto;
}