// TODO: reaname summery to expense-list
section.summary {
  font-size: 1.6em;
  line-height: 2.0em;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .list {
    height: 100%;
    overflow-y: auto;

    .pusher {
      //background: red;
      &.top {
        padding-top: 30%;
      }
      &.bottom {
        padding-top: 16%;
      }
    }
  }

  .row {
    border-bottom: 1px solid graytext;
    position: relative;
  }

  .category {
    width: 50%;
    float: left;
    padding-left: 0.5em;
  }

  .amount {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 0.5em;
  }

  .tap-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .total {
    background: white;

    position: absolute;
    width: 100%;
    bottom: 0;

    border-top: 1px solid graytext;

    .pusher {
      padding-top: 16%;
      float: left;
      width: 100%;
    }
  }
}