.horizontal-overview-chart {
  padding-top: 50%;
  position: relative;

  border-bottom: 1px solid rgba(0,0,0,0.2);

  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .total {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
  }

  .chart {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100%;
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;

    text-align: center;

    width: 10%;
    padding-top: 0%;
  }

  .space {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }

  .bar {
    background: greenyellow;
    border-bottom: 1px solid green;
  }
}

.horizontal-bar-chart-overview {
  width: 100%;
  height: 100%;
}